//Styles that involve our pokemon
.battleScene {

    max-width: 800px;
    min-height: 400px;
    width: auto;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;


    background-image: url('../images/battlescene2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.battleButtons {
    @extend .battleScene;

    min-height: 200px;

    border-radius: 15px;

    background-image: url('../images/battletextbox.png');

    .buttonTable {

        width: 100%;
        min-height: 200px;
        padding: 15px;

        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

        td {
            padding: 15px;
            text-align: center;
            width: 50%;
            height: 50%;

            font-size: 25px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//Player Bottom
$wildTop: 70px;
$playerBottom: -15px;
.pokemonContainer {

    position: relative;
    width: 200px;

    &.wild {
        margin-left: auto;
        margin-right: 110px;
        top: $wildTop;

    }

    &.player {
        margin-left: 115px;
        bottom: $playerBottom;
    }

    .pokemon {

        width: 100%;
        height: 100%;
        display: block !important;

        -webkit-transition: opacity 1s; /* Safari */
        transition: opacity 1s;

        &.ng-hide {
            display: block !important;
            opacity: 0 !important;
        }

        img {
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
        }
    }
}

//Media queries to keep our pokemon centered
@media (max-width: 700px) {

    .battleScene {
        min-height: 300px;
    }

    .pokemonContainer {

        position: relative;
        width: 175px;

        &.wild {
            margin-left: auto;
            margin-right: 60px;
            top: $wildTop;

        }

        &.player {
            margin-left: 60px;
            bottom: $playerBottom;
        }
    }
}

@media (max-width: 500px) {

    .battleScene {
        min-height: 275px;
    }

    .pokemonContainer {

        position: relative;
        width: 150px;

        &.wild {
            margin-left: auto;
            margin-right: 45px;
            top: 50px;

        }

        &.player {
            margin-left: 45px;
            bottom: $playerBottom;
        }
    }
}

@media (max-width: 420px) {

    .battleScene {
        min-height: 265px;
    }

    .pokemonContainer {

        position: relative;
        width: 135px;

        &.wild {
            margin-left: auto;
            margin-right: 30px;
            top: 50px;

        }

        &.player {
            margin-left: 35px;
            bottom: -10px;
        }
    }
}

@media (max-width: 350px) {

    .battleScene {
        min-height: 250px;
    }

    .pokemonContainer {

        position: relative;
        width: 125px;

        &.wild {
            margin-left: auto;
            margin-right: 10px;
            top: 60px;

        }

        &.player {
            margin-left: 15px;
            bottom: -10px;
        }
    }
}

//Animations for the pokemon container
.pokemon.ng-hide-remove {
    @extend .animated;
    @extend .fadeIn;
}

.meter.ng-hide-remove {
    @extend .animated;
    @extend .zoomInUp;
}


.pokemon.ng-hide-add {
    @extend .animated;
    @extend .bounceOut;
}

.meter.ng-hide-add {
    @extend .animated;
    @extend .hinge;
}


.meter {

    width: 85%;
    margin-left: auto;
    margin-right: auto;
	height: 20px;  /* Can be anything */
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);

    span {

      display: block;
      height: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: rgb(43,194,83);
      box-shadow:
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
      position: relative;
      overflow: hidden;
      top: 0px;
      transition: width 1s;

      .yellow {

      }

      .red {
          background-color: #f0a3a3;
          background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
      }

    }
}
