
//Imports
@import 'yeoman';
@import 'animate';
@import 'navbar';
@import 'colors';
@import 'pokemon';
@import 'quickFixes';

//General Styles
html {
    height: 100%;
}

body {
    height: 100%;
    padding: 10px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    //Gradient of sky to grass pokemon style
    background: linear-gradient($sky, $grass);
}

.navbar-default {
    background-color: $transparent;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
