
//Imports
@import 'yeoman';
@import 'animate';
@import 'navbar';
@import 'colors';
@import 'loadingSpinner';
@import 'pokemon';
@import 'quickFixes';

//General/Page Styles
html {
    height: 100%;
    color: $standard;
}

body {
    height: 100%;
    padding: 10px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $standardInverse;
    color: $standard;
}

.navbar {
    color: $standardInverse;
    background-color: $navBg;
    border-color: $navBg;
    padding-right: 10px;
    padding-left: 10px;

    box-shadow: 0px 7px 15px $standard;

    a {
        color: $standardInverse !important;
    }

    //Shadow to look material
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flipped {
    transform: rotateY(180deg); /* Standard syntax */
}

.musicButton {

    background-color: $grass;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: box-shadow 1s;

    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}
