
//Imports
@import 'yeoman';
@import 'animate';
@import 'navbar';
@import 'colors';
@import 'loadingSpinner';
@import 'pokemon';
@import 'quickFixes';

//General/Page Styles
html {
    height: 100%;
    color: $standard;
}

body {
    height: 100%;
    padding: 10px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $standardInverse;
    color: $standard;
}

.navbar {
    color: $standard;
    background-color: $navBg;
    border-color: $navBg;
    padding-right: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px $standard;
    border: 0px !important;

    .nav {
        padding-right: 10px !important;
    }

    .collapse {
        border-top: 0px !important;
    }

    a {
        color: $standard !important;
        margin-left: 5px;
        margin-right: 5px;

    }

    .activeTab {
        background-color: $navBgActive;
    }

    //Shadow to look material
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.enemyName {
    margin-bottom: 0px;
}

.musicButton {

    background-color: $grass;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: box-shadow 1s;

    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}

.footer {
    margin-bottom: 15px;
}
