
<div class = "center">
    <button
    class = "musicButton"
    ng-audio="../songs/redblue.mp3"
    volume="0.5"
    loop="true">Music?</button>
</div>

<h1
class = "center enemyName"
ng-show="enemyHealth.hp">A wild {{enemy.name}} has appeared!</h1>

<!-- Our Scene -->
<div class="battleScene">

    <!-- Our Pokemon Sprites -->
    <div
    class = "pokemonContainer wild">
        <div
        ng-show = "enemyHealth.hp > 0"
        class="meter animated">
            <span
            ng-style="{'width': enemyHealth.percent}"></span>
        </div>
        <img
        ng-show = "enemyHealth.hp > 0"
        ng-src="../images/pokemonGen5/{{enemy.pokedexId}}.png"
        alt = "Wild Pokemon!"
        class = "pokemon"/>
    </div>

    <div
    class = "pokemonContainer player">
        <div
        ng-show = "playerHealth.hp > 0"
        class="meter">
            <span
            ng-style="{'width': playerHealth.percent}"></span>
        </div>

        <img
        ng-show = "playerHealth.hp > 0"
        ng-src="../images/pokemonGen5/back/{{player.pokedexId}}.png"
        alt = "Go Pokemon!"
        class = "pokemon flipInY"/>
    </div>

</div>

<!-- Our Battle Message -->
<h2 class = "center">{{message}}</h2>

<!-- Play Again? -->
<h2 class = "center"
ng-if="playerHealth.hp < 0">
    <a ng-click="resetPokemon()">
        Would you like to play again?
    </a>
</h2>

<!-- Our Selectable Moves -->
<div class="battleButtons">

    <table
    ng-hide="noAttack"
    class = "buttonTable">
      <tr>
        <td
        ng-click= "attack(0)">
        {{player.moves[0].name}}
        </td>

        <td
        ng-click= "attack(1)">
        {{player.moves[1].name}}
        </td>
      </tr>
      <tr>
          <td
          ng-click= "attack(2)">
          {{player.moves[2].name}}
          </td>

          <td
          ng-click= "attack(3)">
          {{player.moves[3].name}}
          </td>
      </tr>
    </table>

</div>
