<div class="header" ng-controller="NavCtrl" ng-init = "collapsed = true;">
  <div class="navbar navbar-default mainNav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button"
        class="navbar-toggle collapsed"
        ng-click = "collapsed = !collapsed">

          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>

        <a class="navbar-brand navText">AngularMon</a>
      </div>

      <div class="collapse navbar-collapse animated fadeInDown"
      id="js-navbar-collapse"
      ng-show = "!collapsed || !isMobile()">

        <ul class="nav navbar-nav">
          <li ng-class="{activeTab:isActive('/')}"><a class = "navText" href="#/">Home</a></li>
          <li ng-class="{activeTab:isActive('/signup')}"><a class = "navText" ng-href="#/signup">About</a></li>
        </ul>
</div>
